test1:
    description:		# description of the test 
    short:			# abbreviate long DNSSEC records 	(default: false)
    dnssec:			# request DNSSEC records 		(default: false)
    query:			# show question 			(default: false)
    check:			# check internal DNSSEC consistency 	(default: false)
    six:			# use IPv6 only 			(default: false)
    four:			# use IPv4 only 			(default: false)
    anchor:			# use the DNSKEY in this <file> as trust anchor (default: "")
    tsig:			# request tsig with key: [hmac:]name:key (default: "")
    port :			# port number to use 			(default 53)
    laddr:			# local address to use 			(default: "")
    aa:				# set AA flag in QUERY 			(default: false)
    ad:				# set AD flag in QUERY                  (default: false)
    cd:				# set CD flag in QUERY                  (default: false)
    rd:				# set RD flag in QUERY                  (default: true)
    fallback:			# allback to 4096 bytes bufsize and after that TCP (default: false)
    tcp:			# TCP mode, multiple queries are asked over the same connection (default: false)
    timeoutdial:		# Dial timeout (Ex. 2s) 		(default 2s (2*time.Second))
    timeoutread:		# Read timeout (Ex. 2s)                 (default 2s (2*time.Second))
    timeoutwrite:		# Write timeout (Ex. 2s)                (default 2s (2*time.Second))
    nsid:			# set edns nsid option			(default: false)
    client:			# set edns client-subnet option		(default: "")
    opcode:			# set opcode to query|update|notify 	(default: "query")
    rcode:			# set set rcode to noerror|formerr|nxdomain|servfail|.. 	(default: noerror)
    qclass:			# Query class	 			(default: IN)
    qtype:			# Query type 				(default: A)
    qname:			# Query name				(default: "" == .)
    nameserver:			# Nameserver to query			(default: "" == use /etc/resolv.conf)
